MYSQL_CA=certificado/ca.pem
MYSQL_CERT=certificado/client-cert.pem
MYSQL_KEY=certificado/client-key.pem
MYSQL_USER=YourUsername
MYSQL_PASSWORD=YourPassword
SOFALA_MYSQL_HOST=sofala-host
SOFALA_MYSQL_PORT=sofala-port
MANICA_MYSQL_HOST=manica-host
MANICA_MYSQL_PORT=manica-port
NIASSA_MYSQL_HOST=niassa-host
NIASSA_MYSQL_PORT=niassa-port
TETE_MYSQL_HOST=tete-host
TETE_MYSQL_PORT=tete-port
MYSQL_DATABASE=aux_central_db
# PostgreSQL configuration
PG_USER=dbcentralized
PG_PASSWORD=changeme
PG_HOST=localhost
PG_PORT=5440
PG_DATABASE=dbcentralized